<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/moon_full"
        android:label="@string/app_name"
        android:roundIcon="@drawable/moon_full"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting">

        <activity
            android:name="com.example.moon.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity-alias
            android:name="com.example.moon.MainActivityNewMoon"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_new"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityWaxingCrescent"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_waxing_crescent"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityFirstQuarter"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_first_quarter"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityWaxingGibbous"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_waxing_gibbous"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityFullMoon"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/moon_full"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityWaningGibbous"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_waning_gibbous"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityLastQuarter"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_last_quarter"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityWaningCrescent"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_waning_crescent"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Southern Hemisphere Aliases -->
        <activity-alias
            android:name="com.example.moon.MainActivityNewMoonS"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_s_new"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityWaxingCrescentS"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_s_waxing_crescent"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityFirstQuarterS"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_s_first_quarter"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityWaxingGibbousS"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_s_waxing_gibbous"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityFullMoonS"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_s_full"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityWaningGibbousS"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_s_waning_gibbous"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityLastQuarterS"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_s_last_quarter"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.moon.MainActivityWaningCrescentS"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/moon_s_waning_crescent"
            android:label="@string/app_name"
            android:targetActivity="com.example.moon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name="com.example.moon.widget.MoonWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/moon_widget_info" />
        </receiver>

    </application>

</manifest>